body {
  margin: 0;
  background-color: #FAF8DA;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: Brokenbrush;
  src:url('fontes/Brokenbrush.ttf');
}

.casteloPrincipal {
  text-align: center;
}

.castelo1 {
  width: 700px;
}

.tituloPrincipal {
  font-size: 70px;
  color: #205D76;
}

.construcao {
  width: 200px;

}

.local {
  display: flex; /* um elemento carrega  do lado do outro*/
  display: -webkit-flex;
  margin: 50px auto; /*Alinha as imagens com a página e a distância entre as imagens*/
  width: 450px; /*Ajusta a lárgura das tags <section> */
}

.detalhes {
   margin-left: 30px; /*Ajusta a distância entre o texto e a imagem*/
}

.texto {
   padding-left: 15px; /*Ajusta a distância do texto*/
  color: #FFC122;
}

.link {
   color: #EA6E2F;
  font-size: 20px;
  text-align: auto;
}

.link2 {
  color: #EA6E2F;
  font-size: 20px;
  text-align: auto;
}

.nomeLocal {
  margin-bottom: 10px;
}

.subTitulo {
  color: #205D76;
  font-size: 30px;
}

.finalDaPagina {
  padding: 2px;
  background-color: #FFC122;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.final {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}

